{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": ["159.203.161.200:5000"],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    }
  ],
  "enable_tcp": true,
  "enable_utp": false,
  "tcp_acceptor_port": 5000,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [],
  "tcp_mapper_servers": [],
  "service_discovery_port": 5100,
  "bootstrap_cache_name": null
}
