{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": ["45.55.57.43:5000"],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    }
  ],
  "enable_tcp": true,
  "enable_utp": false,
  "tcp_acceptor_port": 5000,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [
  ],
  "tcp_mapper_servers": [
    "162.243.228.81:39590",
    "128.199.185.249:44473",
    "178.62.82.189:46782"
  ],
  "service_discovery_port": 5100,
  "bootstrap_cache_name": null
}
