{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "45.55.207.180:5483"
      ],
      "utp_custom_listeners": [
        "45.55.207.180:5483"
      ],
      "tcp_mapper_servers": [],
      "udp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "178.62.7.96:5483"
      ],
      "utp_custom_listeners": [
        "178.62.7.96:5483"
      ],
      "tcp_mapper_servers": [],
      "udp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "128.199.199.210:5483"
      ],
      "utp_custom_listeners": [
        "128.199.199.210:5483"
      ],
      "tcp_mapper_servers": [],
      "udp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "37.59.98.1:5483"
      ],
      "utp_custom_listeners": [
        "37.59.98.1:5483"
      ],
      "tcp_mapper_servers": [],
      "udp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "45.79.93.11:5483"
      ],
      "utp_custom_listeners": [
        "45.79.93.11:5483"
      ],
      "tcp_mapper_servers": [],
      "udp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "45.79.2.52:5483"
      ],
      "utp_custom_listeners": [
        "45.79.2.52:5483"
      ],
      "tcp_mapper_servers": [],
      "udp_mapper_servers": []
    }
  ],
  "tcp_acceptor_port": null,
  "utp_acceptor_port": null,
  "tcp_mapper_servers": [
    "162.243.228.81:39590",
    "128.199.185.249:44473",
    "178.62.82.189:46782"
  ],
  "udp_mapper_servers": [
    "162.243.228.81:40953",
    "128.199.185.249:54098",
    "178.62.82.189:58616"
  ],
  "enable_tcp": true,
  "enable_utp": true,
  "service_discovery_port": null,
  "bootstrap_cache_name": null
}
